@model WebApplication1.Models.UserDetails

@{
    ViewData["Title"] = "Register User";
}

<h3>Registration Page</h3>
<form asp-controller="home" asp-action="create" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 input-group">
            <input type="password" asp-for="Password" class="form-control" placeholder="password" id="pass" />
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <a href="#" class="text-dark" id="icon-click">
                        <i class="fas fa-eye" id="icon"></i>
                    </a>
                </div>
            </div>
            <br/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ContactNo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ContactNo" class="form-control" placeholder="Contact" />
            <span asp-validation-for="ContactNo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#icon-click").click(function () {

            var input = $("#pass");
            if (input.attr("type") == "password") {

                input.attr("type", "text");
                $("#icon").addClass('fas fa-eye-slash');
            }
            else {
                input.attr("type", "password");
                $("#icon").removeClass('fas fa-eye-slash');

                $("#icon").addClass('fas fa-eye');
            }
        });
    });
    </script>
}
